/* ○ Dark grey : #424242 , #2C2A2A , #3C3C3C , #414141 , #373737
○ Black : #252525 , #202020 , #131313
○ White : #FFFFFF , #EDEDED , #F2F2F2 , #FAFAFA
○ Yellow : #F9ED32 , #FFF225 */



.navbar{
    /* box-shadow: 0px 0px 8px grey; */
    color: black;
    align-items: center;
    background-color: #FAFAFA;
}

.navbar-nav{
    display: flex  !important;
    gap: 1.5rem;
}

.logo{
    padding: 0;
}

.logo img{
    height: 4rem;
}

/* .collapse{
    display: flex !important;
    justify-content: flex-end !important;
} */

/* a::after{
    position: absolute !important;
    bottom: 0 !important;
    height: 10% !important;
    left: 0 !important;
    width: 60% !important;
    background-color: #232323;
} */


.link{
    padding-right: 0 !important;
    padding-left:  0 !important;
    /* margin: 0 1rem; */
    transition: .2s;
}



/* .active{
    font-weight: 900 !important;
    border-bottom: 2px solid black !important;
} */



.nav-item{
    position: relative !important;
}


.line{
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 0%;
    left: 0;
    background-color: rgb(216, 216, 0);
}


.nav-item:hover .line{
    width: 60%;
    transition: .5s;
}

.active{
    border-bottom: 2px solid rgb(216, 216, 0) !important;
}





